.App{
  background: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
*{
  margin: 0;
  padding: 0;
  user-select: none;
}

.wrapper{
  width: 600px;
  height: auto;
  margin: auto;
  background: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  border-radius: 20px;
  box-shadow: 0 10px 10px #2B86C5;
}
.input-group{
  width: 90% !important;
  margin: 2rem auto;
}
.plus{
  color: #fff;
  background: #003cff;
  width: 20%;
  transition: all .3s;
}
.plus:hover{
  background-color: #2B86C5;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li{
  color: #fff;
  font-size: 20px;
  background: linear-gradient(225deg, #3ca1ff 0%, #4ca04b 50%, #c5872b 100%);
  margin: 10px 26px;
  padding: 5px 0;
  border-radius: 5px;
  height: auto;
  width: 91%;
  overflow: hidden;
}

.comp{
  text-decoration: line-through;
}

.btn-none{
  display: none;
}
.btn-block{
  display: block;
}
.input{
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
}
li span{
  width: 80%;
}